NEXT_PUBLIC_APP_URL=

DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=